{% extends 'base.html' %}

{% block title %}View product{% endblock %}

{% block menu %}
{#    <li class="nav-item px-3">#}
{#        <a class="navbar-brand" href="{% url 'task_add_view' product.pk %}">Добавить продукт</a>#}
{#    </li>#}
{#    <li class="nav-item px-3">#}
{#        <a class="navbar-brand"  href="{% url 'project_delete' project.pk %}" >Удалить</a>#}
{#    </li>#}
<li class="nav-item px-3">
    <a class="navbar-brand"  href="{% url 'product_update' product.pk %}" >Редактировать</a>
</li>
{% endblock %}

{% block contant %}
<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-5"><b>Product: {{ product.name }}.
            <a href="{% url 'product_update' product.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
            <a href="{% url 'product_delete' product.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
            <a href="{% url 'add_to_basket' product.pk %}" ><button type="button"  class="btn btn-warning">Add to basket. </button></a>
        </b></h1>
        <h3> Category: <b class="text-primary"> {{ product.category }}</b></h3>

        <div class="box">
            <p >Description: </p>
            <hr>
            {{ product.description | linebreaks }}
        </div>
        <p><b>Amount: </b> {{ product.amount }} | <b> Price: </b> {{ product.price }}</p>
    </div>
</div>
<hr>
{#<div class="col col-lg-12 ">#}
{#    <h3>Tasks:</h3>#}
{#    <div class="row">#}
{#        <div class="col col-lg-12">#}
{#            {% if is_paginated %}#}
{#                {% include 'partial/pagination.html' %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="col col-lg-12">#}
{#    {% for task in issues %}#}
{#    <hr>#}
{#    <div class="row">#}
{#        <div class="col col-lg-6">#}
{#            <h3><a href="{% url 'task_view' task.pk %}">№{{ task.pk }}. Status: <b>{{ task.status.get_status_display }}</b></a> </h3>#}
{#            <h3>Тип задачи: {% for type in task.type.all %}<b class="text-primary">{{ type.get_name_display }}</b>{% if not forloop.last%}, {% endif %}{% endfor %}</h3>#}
{#                <p>Summary: {{ task.summary }} </p>#}
{#                <p>Create time: {{ task.completion_time }}</p>#}
{#                <p>Update_at: {{ task.update_at }}</p>#}
{#        </div>#}
{#        <div class="coL col-lg-1 mt-5">#}
{#            <a href="{% url 'task_update_view' task.pk %}" ><button type="submit"  class="btn btn-success">Update</button></a>#}
{#        </div>#}
{#        <div class="coL col-lg-1 mt-5">#}
{#            <a href="{% url 'task_delete_view' task.pk %}" ><button type="submit"  class="btn btn-danger">Delete</button></a>#}
{#        </div>#}
{#        <div class="coL col-lg-1 mt-5">#}
{#            <a href="{% url 'task_view' task.pk %}" ><button type="submit"  class="btn btn-warning"> View </button></a>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <div class="col col-lg-12">#}
{#        {% if is_paginated %}#}
{#            {% include 'partial/pagination.html' %}#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}
{#    <hr>#}
{% endblock %}

