{% extends 'base.html' %}

{% block title %}View poll{% endblock %}

{% block menu %}
{% endblock %}

{% block contant %}
<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-5"><b>Опрос №: {{ poll.pk }}.
            <a href="{% url 'poll_update_view' poll.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
            <a href="{% url 'poll_delete' poll.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
            <a href="{% url 'poll_answer_add' poll.pk %}"><button type="button"  class="btn btn-warning">Add answer</button></a>
            <a href="{% url 'collect_answer_view' poll.pk %}" ><button type="button"  class="btn btn-info">Пройти опрос</button></a>
        </b></h1>
        <div class="box">
            {{ poll.question | linebreaks }}
        </div>
        <p><b>Дата: </b> {{ poll.created_at }}</p>
    </div>
</div>
<hr>
<div class="col col-lg-12 ">
    <h3>Answer:</h3>
    <div class="row">
        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
</div>
<div class="col col-lg-12">
    {% for answer in answers %}
    <hr>
    <div class="row">
        <div class="col col-lg-6">
            <h5> Answer: №{{ answer.pk }}.</h5>
            <div class="box">
                <p><b>{{ answer.choice_answer }}</b></p>
            </div>
        </div>
        <div class="coL col-lg-1 mt-5">
            <a href="{% url 'answer_update' answer.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
        </div>
        <div class="coL col-lg-1 mt-5">
            <a href="{% url 'answer_delete_view' answer.pk %}" ><button type="button"  class="btn btn-danger">Delete</button></a>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="col col-lg-12">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
    <h3 class=" col-md-6 pt-4"><b>Create Answer</b></h3>
        {% url "poll_answer_add" pk=poll.pk as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method='post' %}
</div>
    <hr>
{% endblock %}

