{% extends "base.html" %}

{% block title %}Delete answer{% endblock %}

{#{% block menu %}#}
{#    <li class="nav-item px-3">#}
{#        <a class="navbar-brand"  href="{% url 'task_view' task.pk %}" >Просмотр</a>#}
{#    </li>#}
{#{% endblock %}#}

{% block contant %}
    <div class="coL col-lg-12 mt-5">
        <h1 class="pt-4">Вы действительно хотите удалить ответ: # <b class="text-primary">{{ answer.pk }}</b> ?</h1>
            <h3>Ответ:</h3> {{ answer.choice_answer }}.
    </div>
    <div class="row">
        <form method="POST" action="{% url "answer_delete_view" answer.pk %}" class="text-center">
            {% csrf_token %}
        <div class="coL col-lg-3 ml-5 mt-1">
            <a href="{% url 'answer_delete_view' answer.poll.pk %}" >
                <button type="submit"  class="btn btn-danger">Delete</button>
            </a>
        </div>
        </form>
        <div class="coL col-lg-3  mt-1">
            <a href="{% url 'poll_view' answer.poll.pk  %}" >
                <button type="submit"  class="btn btn-primary">Отмена</button>
            </a>
        </div>
    </div>
{% endblock %}